/*FF4081  009688*/

@font-face {
    font-family: cf1;
    src: url('fonts/kozuka_l.otf');
}

html *
{
  font-family: cf1;
	font-style: normal;
	color: rgba(255,255,255, 0.6);
}

body{	
	overflow:hidden;
  /*-webkit-app-region: drag;*/
}

.background{
	z-index: -21;
 	background: url(../img/clipboard_icon.png) right bottom no-repeat;
  	width: 100%;
  	height: 100%;
	position: fixed;
}

.foreground{
	z-index: 1;
}

::-webkit-input-placeholder {
   color: rgba(255, 255, 255, 0.6);
    text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   color: rgba(255, 255, 255, 0.6);
    text-align: center;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: rgba(255, 255, 255, 0.6);
    text-align: center;
}

:-ms-input-placeholder {  
   color: rgba(255, 255, 255, 0.6);
    text-align: center;
}

label {
    display: block;
    padding-left: 15px;
    text-indent: -15px;
}

input[type=checkbox]{
  text-align: center;
  vertical-align: middle;
  float: right;
  height: 16px;
  width: 16px;
  background: #000000;
}

.button {
  border:0;
  height:42px;
  outline:none;
  padding:5px 20px;
  font-size: 11px;
  font-weight: bold;
  text-transform:uppercase;
  letter-spacing:.1em;
  background: #FF4081;
  color: #FFF;
  transition:color .50s ease, background .50s ease;
}

.button:hover {
  outline:none;
  font-size: 11px;
  background: #FFF;
  color: #FF4081;
  border:1px solid #FF4081;
}

.button_anim {
  border:0;
  height:42px;
  outline:none;
  border-radius:0;
  padding:5px 20px;
  font-size: 11px;
  font-weight: bold;
  text-transform:uppercase;
  letter-spacing:.1em;
  background: #FF4081;
  color: #FFF;
  transition:color .50s ease, background .50s ease;
  
  -webkit-transition:all .3s ease-out;
  -moz-transition:all .3s ease-out;
  -ms-transition:all .3s ease-out;
  -o-transition:all .3s ease-out;
  transition:all .3s ease-out;
}

.button_anim:hover {
  outline:none;
  font-size: 11px;
  background: #FFF;
  color: #FF4081;
  	-ms-transform: scale(1.04) translate(10px,0); /* IE 9 */
    -webkit-transform: scale(1.04) translate(10px,0); /* Safari */
    transform: scale(1.04) translate(10px,0);
}


.button_anim_alt {
  border:0;
  height:42px;
  outline:none;
  border-radius:0;
  padding:5px 20px;
  font-size: 11px;
  font-weight: bold;
  text-transform:uppercase;
  letter-spacing:.1em;
  background: #FFF;
  color: #FF4081;
  transition:color .50s ease, background .50s ease;
  
  -webkit-transition:all .3s ease-out;
  -moz-transition:all .3s ease-out;
  -ms-transition:all .3s ease-out;
  -o-transition:all .3s ease-out;
  transition:all .3s ease-out;
}

.button_anim_alt:hover {
  outline:none;
  font-size: 11px;
  background: #FF4081;
  color: #FFF;
  	-ms-transform: scale(1.04) translate(10px,0); /* IE 9 */
    -webkit-transform: scale(1.04) translate(10px,0); /* Safari */
    transform: scale(1.04) translate(10px,0);
}

.hidden{
	display: none;
	
}

hr{
	border-color: #FF4081;
	border-style: dotted;
	margin-bottom: 6px;
	width: 90%;
}

.box{
	padding: 10px;
	background: rgba(255,255,255,0.10);
	font-size: 15px;
}


.accent{
	color: #FF4081;
}

.black{
	color: #000000;
}


.faint{
	opacity: 0.72;
}



.bold{
	font-weight:bold;
}

.popup{
	width: 100%;
	height: 100%;
	background: rgba(255,255,255,0.95);
	color: #FF4081;
	position: absolute;
	top: 0%;
	left: 0%;
	overflow:hidden;
}

.popup_content{
	width: 100%;
	color: #FF4081;
	position: absolute;
	text-align: center;
	font-size:18px;
	top: 46%;
	padding: 10px;
}

.pages{
	width: 100%;
	height: 100%;
	background: rgba(255,255,255,0.95);
	color: #FF4081;
	position: absolute;
	padding-left: 20px;
	padding-right: 20px;
	top: 0%;
	left: 0%;
	right: 26px;
	z-index: 3;
}

.pages_content{
	width: 86%;
	height: 100%;
	color: #FF4081;
	position: absolute;
	margin-left: 20px;
	margin-top: 20px;
	margin-right: 20px;
	top: 0%;
	left: 0%;
	right: 126px;
}

.update_button{
	background: #FF4081;
	opacity: 0.6;
	color: rgba(255,255,255,0.65);
	position: absolute;
	text-align: center;
	bottom: 0%;
	left: 0%;
}

.update_button:hover{
	opacity: 0.9;
	z-index: 2;
}

.rotate {
    position: absolute;
    bottom: 100;
    right: 100;
	opacity: .08;
    margin:-60px 0 0 -60px;
    -webkit-animation:spin 3s linear infinite;
    -moz-animation:spin 3s linear infinite;
    animation:spin 3s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.move{
	position: absolute;
	top: 10px;
	right:10px;
	opacity: 0.4;
  	transition:transform .50s ease;
}

.move:hover{
	-ms-transform: scale(1.2) rotate(90deg); /* IE 9 */
    -webkit-transform: scale(1.2) rotate(90deg); /* Safari */
    transform: scale(1.2) rotate(270deg);
	opacity: 0.8;
}

.close{
	opacity: 0.8;
  	transition:transform .50s ease;
}

.close:hover{
	-ms-transform: scale(1.2) rotate(90deg); /* IE 9 */
    -webkit-transform: scale(1.2) rotate(90deg); /* Safari */
    transform: scale(1.2) rotate(270deg);
	opacity: 0.8;
}
